<!DOCTYPE html>
<html>
<head>
  <% include ./design/style.ejs %>

</head>
<body id="BODY_1">
<div="col-lg-9">
<center>

<h1 id="H1_2">
	Shoppers-Point
</h1>
<h2 id="A2_18"> Experience The New Way Of Shopping</h2>

<div id="DIV_3">
	<form action='http://localhost:1993/users/login' method="post" id="FORM_4">
		<h2 id="H2_5">
			Login Here
		</h2>
		<div id="DIV_6">
			<div id="DIV_7">
				<input type="email" name="email" placeholder="Email" id="INPUT_8" />
			</div>
			<div id="DIV_9">
				<input type="password" name="password" placeholder="Password" id="INPUT_10" />

			</div>
		</div>
		<div id="DIV_12">

			<button type="submit" id="BUTTON_13">
				Login
			</button><br id="BR_14" />

			<div id="DIV_15">

			</div> <a href="http://localhost:1993/forgot" id="A_18">Forgot password...?</a>
			<div>
				<a href="http://localhost:1993/signup" id="A_18">

						Not Account yet? Sign Up..!

				</a>

			</div>
		</div>
	</form>
</div>
<!---728x90--->

<div id="DIV_30">
	<p id="P_31">
		©2018 All Rights Reserved & Design by - Ajay Jadhav
	</p>
</div>


</div>
</center>
</div>
</body>
</html>
